body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

.center {
  text-align: center;
}

.input {
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.border {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
}

.border h1 {
  margin: 0 0 20px 0;
}

ul {
  padding-left: 0;
}

.card {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#user-card {
  display: flex;
  flex-direction: row;
}

.avatar {
  width: 150px;
  height: 150px;
  align-self: center;
  border-radius: 50%;
  margin-right: 10px;
}

.nav-avatar {
  width: 25px;
}

.question-headers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.question-headers p {
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
}

.question-headers p:hover {
  cursor: pointer;
  color: #419944;
}

#focused, #focused:hover {
  color: #419944;
  background-color: #f0f0f0;
  border-radius: 4px;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 10px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  border-bottom: 3px solid #4CAF50;
  margin-bottom: 10px;
}

.nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 5px 0;
}

li {
  text-decoration: none;
  list-style-type: none;
}

.nav li:not(:first-child) {
  padding-left: 30px;
}

.nav li:first-child {
  padding-left: 0;
}

.link {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.link:hover {
  color: #419944;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin: 10px 0;
}

button:hover {
  background-color: #419944;
}

.poll-answers div{
  padding: 10px;
}

#selected {
  background-color: #41994449;
  border: 2px solid #419944;
  border-radius: 4px;
}